.navbar {
    background-color:	#ffbb00; /* Cambia #333 por el color que desees */
}
.btn{
    color: black;
}

.navbar-nav .nav-link {
    color: #000000; /* Cambia el color del texto a negro */
}

body {
    background-color: #8a8a7ade; /* Color gris claro */
}

