{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Mascotas</title>
    <link rel="icon" href="{% static 'Img/logo.jpg'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/letra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vent_entrada.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/carrusel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prueba.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
<body>
  
  <header>
    <div class="fusion-navbar">
      <p>¡Despachos a todo Chile – Compra y retira!</p>
    </div>
  
    <nav class="navbar navbar-expand-xl navbar-dark">
      <div class="container"> 
          <a class="navbar-brand" href="./index.html">
              <img class="border25" src="{% static 'Img/logo.jpg'%}" alt="" height="80">
          </a>
          <!-- Botón de hamburguesa -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menulateral">
              <span class="navbar-toggler-icon"></span>
          </button>
      
  
      <!-- Menú lateral -->
          <section class="offcanvas offcanvas-start bg-warning" id="menulateral" tabindex="-1">
              <div class="offcanvas-header" data-bs-theme="dark">
                  <h5 class="offcanvas-title text-dark">Menu</h5>
                  <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
              </div>    
              <div class="offcanvas-body">
                  <!-- Formulario de búsqueda -->
                  <form class="d-flex flex-nowrap">
                      <input class="form-control me-4" type="search" placeholder="Buscar" aria-label="Search" style="width: 400px;">
                      <button class="btn btn-outline-light" type="submit">Buscar</button>
                  </form>
                  <!-- Lista de navegación -->
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" style="margin-right: 5px;">
                      <a class="nav-link" href="{% url 'index'%}">Inicio</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="{% url 'ofertas'%}">Ofertas</a>
                  </li>
                    <li class="nav-item">
                      <div>
                            <button class="btn " type="button" data-bs-toggle="offcanvas"           
                            data-bs-target="#offIniciodesecion" aria-controls="offcanvasRight"> <i class="bi bi-person"></i> Iniciar sesión </a> </button>
                      </div>
                  </li>
                  <li class="nav-item">
                    <div class="container-icon">
                      <div class="container-cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                          <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                          <path d="M17 17h-11v-14h-2" />
                          <path d="M6 5l14 1l-1 7h-13" />
                        </svg>
                        <div class="count-products">
                          <span id="contador-productos">0</span>
                        </div>
                      </div>

                      <div class="container-cart-products hidden-cart" style="z-index: 1000; width: 600px ;">
                        <div class="row-product">
                          <div class="cart-product">
                            <div class="info-cart-product">
                              <span class="cantidad-producto-carrito">0</span>
                              <p class="titulo-producto-carrito">Sin nombre</p>
                              <span class="precio-producto-carrito">$0</span>
                            </div>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="icon-close"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                              />
                            </svg>
                          </div>
                        </div>
                        <div class="cart-total">
                            <h3>Total:</h3>
                            <span class="total-pagar">$0</span>
                        </div>
                      </div>
                    </div>
                </li>
                  </ul>
              </div>
          </section>
      </div>
    </nav>

    <div class="offcanvas offcanvas-end bg-light " tabindex="-1" id="offIniciodesecion" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="offcanvasRightLabel" style="font-family: Geneva, sans-serif;"> <i class="bi bi-person" ></i>
          <samp><hr></samp>
          </h2>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" style="display: flex; flex-direction: column; ">
        <div class="fomulario">
          <h1>Inicio de sesion</h1>
          <form method="post" onsubmit="return false;">
            <div class="username">
              <input type="text" id="usuario" required>
              <label >nombre de usuario</label>
            </div>
            <div class="username">
              <input type="password"  id="clave" required>
              <label >contraseña</label>
            </div>
            <div class="recordar">¿Olvido la contraseña?</div>
            <input type="submit" value="Inicio" onclick="loguear()">
            <div class="registrarse">
              Crear cuenta en <a href="{% url 'registrarse'%}">registro</a>
            </div>
        </form>
        </div>    
      </div>
    </div>
  </header>
  

  <div class="container py-4">
    <div id="slider-codersfree" class="carousel slide" data-bs-ride="carousel">
        <div class="container"></div>
        <div class="carousel-indicators">
            <button class="active" data-bs-target="#slider-codersfree" data-bs-slide-to="0"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="1"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="2"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="3"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="4"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="5"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="6"></button>
            <button data-bs-target="#slider-codersfree" data-bs-slide-to="7"></button>
        </div>
        <div class="carousel-inner carousel-fade  ">
            <div class="carousel-item active carousel-dark" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog1.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog2.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog3.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog4.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog5.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog6.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog7.jpg'%}" alt=""></a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="{% url 'ofertas'%}"><img class="d-block w-100" src="{% static 'Img/carusel/dog8.jpg'%}" alt=""></a>
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-target="#slider-codersfree" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" data-bs-target="#slider-codersfree" data-bs-slide="next">
            <samp class="carousel-control-next-icon"></samp>
        </button>
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
        <div class="carousel">
            <h3>Ofertas del dia %<span class="close-button" id="close-button">&times;</span></h3>
            <div class="carrusel-list" id="carrusel-list">
                <button class="carrusel-arrow carrusel-prev" id="button-prev" data-button="button-prev"
                    onclick="app.processingButton(event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                        class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                        </path>
                    </svg>
                </button>
    
                <div class="carrusel-track" id="track">
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="{$ static 'Img/carusel/carrusel2/ima1.avif'$}" alt="imagen">
                                    
                                </picture>
                            </a>
                        </div>
                    </div>
    
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="carusel/carrusel2/ima2.jpg" alt="imagen">
                                </picture>
                            </a>
                        </div>
                    </div>
    
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="carusel/carrusel2/ima3.jpg" alt="imagen">
                                </picture>
                            </a>
                        </div>
                    </div>
    
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="carusel/carrusel2/ima4.jpg" alt="imagen">
                                    
                                </picture>
                            </a>
                        </div>
                    </div>
    
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="carusel/carrusel2/ima5.jpg" alt="imagen">
                                    
                                </picture>
                            </a>
                        </div>
                    </div>
    
                    <div class="carrusel">
                        <div>
                            <a href="/">
                                <picture>
                                    <img src="carusel/carrusel2/ima6.avif" alt="imagen">
                                    
                                </picture>
                            </a>
                        </div>
                    </div>

                </div>
    
                <button class="carrusel-arrow carrusel-next" id="button-next" data-button="button-next"
                    onclick="app.processingButton(event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                        class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
      </div>
  </div>
    
  <div class="container">
    <div class="row">

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        <div id="items" class=" border rounded-4 text-center bg-opacity-75">
          <img src="./Img/Despachos.png" class="img-fluid">
          <div class="card-body">
            <h3> Despachos entre 12 y 48 hrs en Santiago Urbano*</h3>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        <div id="items" class=" border rounded-4 text-center bg-opacity-75">
          <img src="./Img/Retiro_tienda.png" class="img-fluid">
          <div class="card-body">
            <h3>  Retira en tienda luego de minutos de realizada tu compra.</h3>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        <div id="items" class=" border rounded-4 text-center bg-opacity-75">
          <img src="./Img/canal-especializado.png" class="img-fluid">
          <div class="card-body">
            <h3>Canal Especializado de Alimentos para mascotas en Chile.</h3>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        <div id="items" class=" border rounded-4 text-center bg-opacity-75">
          <img src="./Img/Compra_segura.png" class="img-fluid">
          <div class="card-body">
            <h3>Compra Segura. Tus productos, datos y transacción están protegidos</h3>
          </div>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        <div id="items" class=" border rounded-4 text-center bg-opacity-75">
          <img src="./Img/Dudas.png" class="img-fluid">
          <div class="card-body">
            <h3> ¿Dudas? No te dejamos en visto, las respondemos =)</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container py-4">
    <div class="mx-auto" style="max-width: 1540px;">
      <a href="./ventas_perros.html"><img id="seccion" src="./Img/destacado-perros.jpg" class="img-fluid" alt="destacado-perros"></a>
    </div>
    <h2 class="texto">
      <a href="ventas_perros.html">DESTACADO PERROS</a>
    </h2>
  </div>

  <div class="container-items">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
          <div class="card text-center bg-opacity-75 h-100">
            <img class="card-img-top" src="./Img/Alimento_Perro_adulto.webp" alt="Nutrique Skin Sensitivity Dog">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Champion Dog</h5>
              <h6 class="card-text">Alimento perro adulto Champion Dog carne y pollo 15 ...</h6>
              <p class="price mt-auto">$80</p>
              <a href="./perros/ventas.perro1.html" class="btn btn-primary mb-2">Ver producto</a>
              <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
          <div class="card text-center bg-opacity-75 h-100">
            <img class="card-img-top" src="./Img/Alimento_seco_perro.webp" alt="Nutrique Skin Sensitivity Dog">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Pedigree</h5>
              <h6 class="card-text">Alimento Seco Perro Adulto Raza Mediana/Grande Carne ...</h6>
              <p class="price mt-auto">$50</p>
              <a href="./perros/ventas.perro2.html" class="btn btn-primary mb-2">Ver producto</a>
              <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
          <div class="card text-center bg-opacity-75 h-100">
            <img class="card-img-top" src="./Img/Alimento_perro3.webp" alt="Nutrique Skin Sensitivity Dog">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Dog Chow</h5>
              <h6 class="card-text">Alimento Seco Perro Adulto Raza Mediana/Grande Pollo y Pavo Bolsa ...</h6>
              <p class="price mt-auto">$30</p>
              <a href="./perros/ventas.perro3.html" class="btn btn-primary mb-2">Ver producto</a>
              <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
          <div class="card text-center bg-opacity-75 h-100">
            <img class="card-img-top" src="./Img/Alimento_perro4.webp" alt="Nutrique Skin Sensitivity Dog">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Fit Formula Adulto 20 KG</h5>
              <h6 class="card-text">Fit Formula Senior, ha sido especialmente ...</h6>
              <p class="price mt-auto">$20</p>
              <a href="./perros/ventas.perro4.html" class="btn btn-primary mb-2">Ver producto</a>
              <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  

  <div class="container py-4">
    <div class="mx-auto" style="max-width: 1540px;">
      <a href="ventana_gato.html"><img id="seccion" src="./Img/destacado-gatos.jpg" class="img-fluid" alt="destacado-gatos"></a>
    </div>
    <h2 class="texto">
      <a href="ventana_gato.html">DESTACADO GATOS</a>
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Gato1.webp" alt="Nutrique Skin Sensitivity Dog">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Cat Chow Adulto</h5>
            <h6 class="card-text">Defense Plus®, una combinación exclusiva de prebiótico natural, antioxidantes ...</h6>
            <p class="price mt-auto">$10</p>
            <a href="./gatos/ventaGato1.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Gato2.webp" alt="Nutrique Skin Sensitivity Dog">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Nomade Gato Adulto</h5>
            <h6 class="card-text">Nómade es un alimento para gatos adultos, desarrollado por expertos en nut...</h6>
            <p class="price mt-auto">$70</p>
            <a href="./gatos/ventaGato2.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Gato3.webp" alt="Nutrique Skin Sensitivity Dog">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Masko Cat</h5>
            <h6 class="card-text">Formula que contienen ingredientes balanceados y altamente digestibles, par.....</h6>
            <p class="price mt-auto">$90</p>
            <a href="./gatos/ventaGato3.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Gato4.webp" alt="Nutrique Skin Sensitivity Dog">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Lite Cat Buffet</h5>
            <h6 class="card-text">Porque los gatos disfrutan los diferentes aromas, los mejor que ofrece lo mejor para los gato</h6>
            <p class="price mt-auto">$50</p>
            <a href="./gatos/ventaGato4.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="mx-auto" style="max-width: 1540px;">
      <a href="./ventana_recien_llegados.html"><img id="seccion" src="./Img/nuevos.jpg" class="img-fluid" alt="destacado-gatos"></a>
    </div>
    <h2 class="texto">
      <a href="./ventana_recien_llegados.html">NUEVOS</a>
    </h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_1.jpg" alt="Nutrique Skin Sensitivity Dog">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Nutrique Skin Sensitivity Dog</h5>
            <h6 class="card-text">Nutrique Skin Sensitivity Dog para perros adultos...</h6>
            <p class="price mt-auto">$50</p>
            <a href="./recien-llegados/recien_llegados2.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_2.png" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Top K9 Set Dispensador Bolsas</h5>
            <h6 class="card-text">Dispensador de Bolsas Top k9, con el dispensador.</h6>
            <p class="price mt-auto">$40</p>
            <a href="./recien-llegados/recien_llegados3.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_3.jpg" alt="Arena Sanitaria TopK9">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Arena Sanitaria TopK9</h5>
            <h6 class="card-text">Bentonita sódica 100% natural con fórmula anti...</h6>
            <p class="price mt-auto">$60</p>
            <a href="./recien-llegados/recien_llegados4.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_4.jpg" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Arena TopK9 aglutinante</h5>
            <h6 class="card-text">Gravilla mineral 100% natural con fórmula...</h6>
            <p class="price mt-auto">$40</p>
            <a href="./recien-llegados/recien_llegados5.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_5.JPG" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Arenero Catit Pixi</h5>
            <h6 class="card-text">El Arenero Catit PIXI es una caja de arena o sanitaria para gatos...</h6>
            <p class="price mt-auto">$70</p>
            <a href="./recien-llegados/recien_llegados6.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_6.png" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Bravery Chicken Dog</h5>
            <h6 class="card-text">Para Perros Cachorros. Mono proteico, libre de granos y cereales....</h6>
            <p class="price mt-auto">$60</p>
            <a href="./recien-llegados/recien_llegados7.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_7.jpg" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Brit Care Dog Chicken</h5>
            <h6 class="card-text">Alimento para perros adultos de razas grandes.</h6>
            <p class="price mt-auto">$50</p>
            <a href="./recien-llegados/recien_llegados8.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_8.JPG" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Dispensador De Snack</h5>
            <h6 class="card-text">El Dispensador de Snacks Catit PIXI es un pequeño...</h6>
            <p class="price mt-auto">$30</p>
            <a href="./recien-llegados/recien_llegados9.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_9.png" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Dogoo Mordedor</h5>
            <h6 class="card-text">Snack 100% natural, sin productos químicos, que brinda variadas...</h6>
            <p class="price mt-auto">$60</p>
            <a href="./recien-llegados/recien_llegados10.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevos_10.png" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Dogoo Mordedor</h5>
            <h6 class="card-text">Snack 100% natural, sin productos químicos, que brinda variadas...</h6>
            <p class="price mt-auto">$20</p>
            <a href="./recien-llegados/recien_llegados11.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevo_11.jpg" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">HOP! Gato Kitten</h5>
            <h6 class="card-text">Hop! Gato Kitten para gatos en período de crecimiento...</h6>
            <p class="price mt-auto">$50</p>
            <a href="./recien-llegados/recien_llegados12.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
        <div class="card text-center bg-opacity-75 h-100">
          <img class="card-img-top" src="./Img/Nuevo_12.png" alt="Top K9 Set Dispensador Bolsas">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Hills Dog Vet I/D</h5>
            <h6 class="card-text">Hill’s® Prescription Diet® i/d Digestive Care Low Fat en lata es un alimento...</h6>
            <p class="price mt-auto">$20</p>
            <a href="./recien-llegados/recien_llegados13.html" class="btn btn-primary mb-2">Ver producto</a>
            <button class="btn btn-primary btn-add-cart" style="background-color: green; border-color: green;">Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer class="text-center text-white bg-dark mt-4">
    <div class="container p-4" style="margin-top: 200px;">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a>
      </section>
      <section class="mb-4">
        <p>
          Ofrecemos una amplia variedad de productos para el cuidado y bienestar de tu mascota.
          Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades y ofertas.
        </p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Tienda Mascota</h5>
            <p>
              Nos dedicamos a ofrecer productos de alta calidad para el cuidado de tu mascota.
              Visítanos en nuestra tienda física o en línea para encontrar lo mejor para tu amigo peludo.
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Enlaces útiles</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="ofertas.html" class="text-white">Ofertas</a>
              </li>
              <li>
                <a href="ventas_perros.html" class="text-white">Perros</a>
              </li>
              <li>
                <a href="ventana_gato.html" class="text-white">Gatos</a>
              </li>
              <li>
                <a href="ventana_recien_llegados.html" class="text-white">Nuevas Llegadas</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Tienda Mascota
    </div>
  </footer>
  
  <script src="./js/index.js"></script>
  <script src="./js/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/carro.js"></script>
</body>
</html>