body {
    background-color: #fff !important;
}

/* Navbar */
.fusion-navbar {
    background-color: #4892c3;
    height: 25px;
}

.fusion-navbar p {
    text-align: center;
    color: #fff;
}

.nav-item {
    font-size: 18px;
}

.nav-item i {
    font-size: 18px;
}

.navbar {
    background-color: #e5c15c;
}

.navbar-nav .nav-link {
    color: #000000;
}

.offcanvas-start.show .nav-link i {
    display: none;
}

/* Custom button */
.btn-personal {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    margin-top: -7%;
    margin-bottom: -7%;
}

.btn-personal:hover {
    background-color: rgba(255, 235, 205, 0);
    color: rgb(8, 0, 126);
}


.border25 {
    border-radius: 0.5rem;
}


.container .row {
    justify-content: center;
}

.container h2 {
    margin-top: 20px;
    text-align: center;
}

/* Items */
#items {
    height: 140px;
    margin-bottom: 20px;
}

.container .row #items img {
    max-width: 100%;
    max-height: 90px;
    width: auto;
    height: auto;
}

.container .row h3 {
    font-size: 12px;
    font-family: sans-serif;
    color: #666666;
}

.container .row img {
    max-width: 100%;
    max-height: 150px;
    height: auto;
    width: auto;
}

.container .texto a {
    color: #808080;
    text-decoration: none;
}


.img-circle {
    border-radius: 50%;
}


.container footer img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-bottom: 100px;
}

/* Card */

.card {
    border-radius: 0.5rem;
    margin-bottom: 20px; 
}

.card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.25rem; 
    font-family: sans-serif;
    color: #333;
}

.card-text {
    font-size: 1rem; 
    color: #666;
}

.card .price {
    font-size: 1.2rem; 
    color: #000; 
}
