{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tienda Mascota</title>
        <link rel="icon" href="{% static 'Img/logo.jpg'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/letra.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/prueba.css' %}">
    
    </head>
<body>
    
    <header>
    <div class="fusion-navbar">
        <p>¡Despachos a todo Chile – Compra y retira!</p>
    </div>
    
    <nav class="navbar navbar-expand-xl navbar-dark">
        <div class="container"> 
            <a class="navbar-brand" href="./index.html">
                <img class="border25" src="logo.jpg" alt="" height="80">
            </a>
            <!-- Botón de hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menulateral">
                <span class="navbar-toggler-icon"></span>
            </button>
        
    
        <!-- Menú lateral -->
            <section class="offcanvas offcanvas-start bg-warning" id="menulateral" tabindex="-1">
                <div class="offcanvas-header" data-bs-theme="dark">
                    <h5 class="offcanvas-title text-dark">Menu</h5>
                    <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
                </div>    
                <div class="offcanvas-body">
                    <!-- Formulario de búsqueda -->
                    <form class="d-flex flex-nowrap">
                        <input class="form-control me-4" type="search" placeholder="Buscar" aria-label="Search" style="width: 400px;">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                    <!-- Lista de navegación -->
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" style="margin-right: 5px;">
                        <a class="nav-link" href="./index.html">Inicio</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="ofertas.html">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <div>
                            <button class="btn " type="button" data-bs-toggle="offcanvas"           
                            data-bs-target="#offIniciodesecion" aria-controls="offcanvasRight"> <i class="bi bi-person"></i> Iniciar sesión </a> </button>
                        </div>
                    </li>
                    <li class="nav-item">
                    <div class="container-icon">
                        <div class="container-cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17h-11v-14h-2" />
                            <path d="M6 5l14 1l-1 7h-13" />
                        </svg>
                        <div class="count-products">
                            <span id="contador-productos">0</span>
                        </div>
                        </div>

                        <div class="container-cart-products hidden-cart" style="z-index: 1000; width: 600px ;">
                        <div class="row-product">
                            <div class="cart-product">
                            <div class="info-cart-product">
                                <span class="cantidad-producto-carrito">0</span>
                                <p class="titulo-producto-carrito">Sin nombre</p>
                                <span class="precio-producto-carrito">$0</span>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="icon-close"
                            >
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                            </div>
                        </div>
                        <div class="cart-total">
                            <h3>Total:</h3>
                            <span class="total-pagar">$0</span>
                        </div>
                        </div>
                    </div>
                </li>
                    </ul>
                </div>
            </section>
        </div>
    </nav>

    <div class="offcanvas offcanvas-end bg-light " tabindex="-1" id="offIniciodesecion" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasRightLabel" style="font-family: Geneva, sans-serif;"> <i class="bi bi-person" ></i>
            <samp><hr></samp>
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="display: flex; flex-direction: column; ">
        <div class="fomulario">
            <h1>Inicio de sesion</h1>
            <form method="post" onsubmit="return false;">
            <div class="username">
                <input type="text" id="usuario" required>
                <label >nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password"  id="clave" required>
                <label >contraseña</label>
            </div>
            <div class="recordar">¿Olvido la contraseña?</div>
            <input type="submit" value="Inicio" onclick="loguear()">
            <div class="registrarse">
                Crear cuenta en <a href="/registrarse.html">registro</a>
            </div>
        </form>
        </div>    
        </div>
    </div>
    </header>



    <div class="p-3 mb-2 bg-warning-subtle text-dark">
        <div class="d-flex justify-content-center ">
            <div class="p-3 mb-2 bg-warning-subtle text-dark">

                <div class="card text-dark mb-3" style="background-color: #e9ebbf; max-width: 1600px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="oferta/dog1.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h2 class="card-title" style="font-size: 25px;">La mejor comida de perro Fir Formula canino</h2>
                        <p class="card-text h5" style="font-size: medium;">Fit Formula Premium es un alimento completo y balanceado para satisfacer las necesidades nutricionales de perros adultos 
                            en mantención y hembras en lactancia. Formulado con proteínas de alta calidad para músculos y huesos fuertes, ácidos grasos esenciales 
                            para un pelaje sano y brillante. El gran valor de los ingredientes utilizados, de excelente digestibilidad, se vera reflejado en un menor 
                            volumen de heces. </p>
                        <p class="card-text h3"> $35.000 pesos</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card bg-primary-subtle text-dark mb-3" style="max-width: 1600px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                            <h2 class="card-title " style="font-size: 25px;">El alimento seco esta en oferta aproveche </h2>
                            <p class="card-text h5" style="font-size: medium;">Nuestro alimento seco ofrece numerosos beneficios para tu mascota. Formulado para promover una salud óptima, vitalidad y 
                                un sistema inmunológico fuerte, garantiza una vida feliz y saludable. Al elegir nuestro producto, estás invirtiendo en el bienestar duradero 
                                de tu compañero peludo. ¡Haz de nuestra comida seca la elección principal para tu mascota y disfruta de los resultados positivos en ingerir 
                                alimentos secos!</p>
                                <p class="card-text h3">Todo el alimento a un 25% de descuento</p>
                            </div>
                        </div>
                    <div class="col-md-4">
                        <img src="oferta/dog2.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div> 
                    </div>
                </div>

                <div class="card text-dark mb-3" style="background-color: #e9ebbf;max-width: 1600px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="oferta/dog3.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title " style="font-size: 25px;">Conosca los mejores articulos para tu mescota</h2>
                            <p class="card-text h5" style="font-size: medium;">Desde alimentos nutritivos hasta juguetes interactivos y accesorios de moda, tenemos todo lo que necesitas para 
                            mantener a tus amigos peludos felices y saludables. Descubre nuestra selección y bríndales a tus mascotas el amor y 
                            la atención que se merecen.
                            </p>
                        <p class="card-text h3">Aprobecha hay un 30% de descuento</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card bg-primary-subtle text-dark mb-3" style="max-width: 1600px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                            <h2 class="card-title " style="font-size: 25px;">Conosca los leeby mas comodos para tu mascota</h2>
                                <p class="card-text h5" style="font-size: medium;">En Leeby, ofrecemos camas para mascotas diseñadas pensando en su comodidad y bienestar. 
                                    Nuestras camas están fabricadas con materiales de alta calidad para proporcionar el máximo confort y apoyo. 
                                    Elija Leeby para asegurar que su mascota tenga un lugar acogedor para descansar y recargar energías. Descubra 
                                    nuestra variedad de camas para mascotas y brinde a su compañero peludo el mejor lugar para dormir
                                    Ofrecemos una amplia variedad de productos para el cuidado y la diversión de tus mascotas. 
                                
                            </div>
                        </div>
                    <div class="col-md-4">
                        <img src="oferta/dog4.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div> 
                    </div>
                </div>

                <div class="card  text-dark mb-3" style="background-color: #e9ebbf;max-width: 1600px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="oferta/dog5.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h2 class="card-title h5" style="font-size: 25px;">Los mejores alimentos del mercado </h2>
                        <p class="card-text" style="font-size: medium;">
                            Explora nuestra amplia selección de alimentos húmedos selectos para mascotas. Con ingredientes de primera calidad 
                            y sabores irresistibles, nuestros productos satisfacen los gustos más exigentes de tus compañeros peludos. 
                            Garantiza una nutrición equilibrada y deliciosa para tus mascotas con nuestras opciones de alimentos húmedos selectos. 
                            Desde recetas gourmet hasta fórmulas especializadas, tenemos todo lo que necesitas para mantener a tus mascotas felices y saludables.</p>
                        <p class="card-text h3">Con un 25% de descuento compra</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card bg-primary-subtle text-dark mb-3" style="max-width: 1600px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                            <h2 class="card-title" style="font-size: 25px;">Freedom Planet 2</h2>
                            <p class="card-text h5" style="font-size: medium;">Descubre nuestra arena TKPet para mascotas, diseñada para brindar una experiencia de higiene superior. 
                                Con excelente absorción y control de olores, garantiza un entorno limpio y fresco para tu mascota. Fabricada con materiales 
                                de alta calidad y libre de polvo, proporciona comodidad y bienestar. Mantén a tu mascota feliz y saludable con nuestra arena 
                                TKPet, la elección perfecta para su cuidado diario.</p>
                            <p class="card-text h3"><small class="text-body-secondary">Hata con 30% de descunto la arena</small></p>
                            </div>
                        </div>
                    <div class="col-md-4">
                        <img src="oferta/dog6.jpg" class="img-fluid rounded-start" alt="230" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div> 
                    </div>
                </div>
                <div class="card  text-dark mb-3" style="background-color: #e9ebbf;max-width: 1600px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="oferta/dog7.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h2 class="card-title" style="font-size: 25px;">Los mejores snacks para tu mascota</h2>
                        <p class="card-text h5" style="font-size: medium;">Descubre nuestra variedad de snacks seleccionados para mascotas, elaborados con ingredientes de calidad y sabores irresistibles. 
                            Cuidadosamente seleccionados para satisfacer los gustos exigentes de tus amigos peludos, nuestros snacks garantizan momentos de placer y bienestar. 
                            Con opciones saludables y deliciosas, puedes estar seguro de ofrecerle a tu mascota un premio que le encantará.</p>
                        <p class="card-text h3">Hasta un 30% de descuento</p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="card bg-primary-subtle text-dark mb-3" style="max-width: 1600px;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                            <h2 class="card-title" style="font-size: 25px;">Productos de verano para mascotas</h2>
                            <p class="card-text h5" style="font-size: medium;">
                                Explora nuestra selección de productos de verano para mascotas, diseñados para mantenerlas frescas y cómodas durante los meses más cálidos. 
                                Desde piscinas portátiles hasta juguetes de agua, ofrecemos una amplia variedad de artículos para satisfacer las necesidades de tus amigos 
                                peludos. Garantiza que tu mascota disfrute del verano al máximo con nuestros productos diseñados especialmente para mantenerlas felices y seguras 
                                bajo el sol.</p>
                            
                            <p class="card-text h3">Hasta un 70% de descuento</p>
                            </div>
                        </div>
                    <div class="col-md-4">
                        <img src="oferta/dog8.jpg" class="img-fluid rounded-start" alt="250" style="max-width: 100%; max-height: 1000px; width: auto; height: auto;">
                    </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="./js/login.js"></script>
</body>
</html>
